.tip-review::after {
  content: '';
  display: inline-block;
  width: 0.75vw;
  height: 1vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #d4a900;
  position: absolute;
  bottom: -1vw;
  left: -0.375vw;
  -webkit-clip-path: polygon(100% 0, 50% 0, 100% 50%);
  clip-path: polygon(100% 0, 50% 0, 100% 50%);

  @media screen and (max-width: 767px) {
    width: 2.6vw;
    height: 3.13333vw;
    bottom: -3.1vw;
    left: -0.9vw;
  }
}

.listBlog {
  &::-webkit-scrollbar {
    display: none;
  }
  .blogItem:last-child {
    @media screen and (max-width: 768px) {
      margin-right: 4.27vw;
    }
  }
}
