/* custom MUI*/

.about-step-container {
  .about-step-icon {
    display: none !important;
  }

  .about-step-above {
    margin: auto;
    width: 11.3125vw;

    .MuiStepLabel-label {
      display: flex;
      gap: 1.4375vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $textColorPrimary;
      text-align: center;
      font-weight: 500;
      line-height: 150%;
      font-size: 1.125vw !important;

      img {
        width: 5vw;
        height: 5vw;
      }
    }
  }

  .MuiStep-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-step-below {
    width: fit-content;
    cursor: pointer;

    .MuiStepLabel-label {
      font-weight: 600;
      line-height: 110%; /* 92.4px */
      text-transform: capitalize;
      font-family: $font-optima;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      color: $colorPrimary;
      font-size: 5.25vw;

      &:hover {
        -webkit-text-fill-color: unset !important;
      }
    }
  }

  .MuiStepConnector-line {
    background-image: url('../../assets/images/about/connector.svg');
    border: none;
  }
}

@include mobile {
  .about-step-container {
    .about-step-above {
      margin: auto;
      width: 28vw;

      .MuiStepLabel-label {
        gap: 4.08vw;
        font-size: 2.67vw !important;

        img {
          width: 12.5592vw;
          height: 12.5592vw;
        }
      }
    }

    .about-step-below {
      .MuiStepLabel-label {
        font-size: 13.187vw;
        background: linear-gradient(180deg, #fff -0.27%, #ffd220 77.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
  }
}

.about-step-container {
  #active-step .about-step-below {
    .MuiStepLabel-label {
      -webkit-text-fill-color: unset !important;
    }
  }
}
