.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: $font-manrope;
  cursor: pointer;
  border-radius: 0.75vw !important;
  padding: 1.09vw 2vw !important;
  background: $colorPrimary !important;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.03;
  }
  @media screen and (min-width: 769px) and (max-width: 1280px) {
    font-size: 1.5vw;
  }
}

.btn-secondary {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: $font-manrope;
  cursor: pointer;
  border-radius: 0.75vw !important;
  padding: 1.09vw 2vw !important;
  border: 1px solid rgba(46, 46, 46, 0.6);
  background: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
  &:hover {
    scale: 1.03;
  }
  @media screen and (min-width: 769px) and (max-width: 1280px) {
    font-size: 1.5vw;
  }
}

.btn-secondary::before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 100%;
  left: 100%;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: $colorPrimary;
  transform-origin: center;
  transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.btn-secondary:hover {
  border-color: $colorPrimary;
}

.btn-secondary:hover::before {
  transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
}

@media screen and (max-width: 1280px) {
  .menu-table {
    font-size: 3.2vw;
    padding: 3vw 6vw !important ;
    border-radius: 2.13vw !important;
  }
}

@media screen and (max-width: 767px) {
  .btn-secondary,
  .btn-primary {
    font-size: 3.2vw;
    padding: 3.2vw 7.73vw !important;
    border-radius: 2.13vw !important;
  }
}

