.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: $font-manrope;
  cursor: pointer;
  border-radius: 0.75vw !important;
  padding: 1.09vw 2vw !important;
  background: $colorPrimary !important;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.03;
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  font-family: $font-manrope;
  cursor: pointer;
  border-radius: 0.75vw !important;
  padding: 1.09vw 2vw !important;
  border: 1px solid rgba(46, 46, 46, 0.6);
  background: #fff;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.03;
  }
}

@include mobile {
  .btn-secondary,
  .btn-primary {
    font-size: 3.2vw;
    padding: 3.2vw 7.73vw !important;
    border-radius: 2.13vw !important;
  }
}
