@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$f-primary: 'Josefin Sans', sans-serif;
$f-secondary: 'Indie Flower', cursive;
$c-front: #54c46c;
$c-back: #1d1f20;
$c-back-light: #383838;
$c-hilight: #ffa500;
$s-footer-height: 3rem;

%boxShadow {
  box-shadow: 0 0 10rem 0 #000000;
}
%boxShadow--in {
  box-shadow: 0 0 10rem 0 #000000 inset;
}

.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: $c-hilight;
}
.cal-loader__path {
  stroke: $c-front;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}

// Loading
.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 99;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4ca757;
  border-color: #4ca757 transparent #4ca757 transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@include mobile {
  .loading {
    width: 40px;
    height: 40px;
    &::after {
      width: 32px;
      height: 32px;
      border-width: 3px;
    }
  }
}