.loading-title {
  background: linear-gradient(180deg, #eef8ee 72.78%, rgba(140, 247, 162, 0.18) 13.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: $font-viva;
}

// .overlay {
//   animation: opacity 1s;
// }

// @keyframes opacity {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
