.nav-active {
  background-color: #fff;
  z-index: 99;
  position: fixed !important;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-mb-special {
  background-color: transparent;
  .nav-logo {
    background-color: transparent;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }

  .nav-list {
    color: white;
  }

  .icon-hot {
    color: black;
  }

  .MuiBox-root {
    span {
      color: white !important;
    }
    svg {
      color: white !important;
    }
  }
}

.nav-container {
  ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  .menu-popup {
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: transform 0.4s, background-color 0.2s;
  .nav-link {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    &.show {
      .menu-item {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        overflow: auto;
      }
    }
    &:hover {
      color: #138140;
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: #138140;
      transition: width 0.3s linear;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 4vw;
      position: absolute;
      left: 0;
      top: 0;
    }
    .menu-item {
      border-bottom-right-radius: 0.5vw;
      border-bottom-left-radius: 0.5vw;
      transition: all 0.5s;
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      display: grid;
      position: fixed;
      overflow: hidden;
      left: 0;
      right: 0;
      top: 5.375vw;
      bottom: 0;
      z-index: 99;
      height: fit-content;
      width: 83.75%;
      grid-template-rows: auto;
      box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.08);
      opacity: 0.8;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8) 65.12%
        ),
        url(../../assets/images/Mega1.png), lightgray 0px -0.142px / 100% 100.029% no-repeat;
      background-size: cover;
      background-position: bottom;
    }

    .menu-item1 {
      background-size: cover;
      background-position: bottom;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8) 65.12%
        ),
        url(../../assets/images/mega2.png), lightgray 0px -0.142px / 100% 100.029% no-repeat;
      background: url(../../assets/images/mega1.png), lightgray -123.179px 1.662px / 140.936% 108.333% no-repeat, #fff;
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.form-popup {
  transform: translateY(-100%);
  transition: all 0.3s linear;
}

.form-popup.active {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header-hide {
    transform: translateY(-100%);
  }
}
.menu-mobile {
  ::-webkit-scrollbar {
    width: 6px;
  }
  .menu-mb_item {
    height: 0;
    transition: all 0.3s linear;
    overflow: hidden;
  }
  .row-menu:first-child:has(.active) {
    padding-bottom: 4.53vw;
  }
  .row-menu:has(.active) {
    padding-bottom: 8.53vw;
  }
  .row-menu {
    .drop-down {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
    &:has(.active) .drop-down {
      transform: rotate(0);
    }
  }
}

.nav-mobile {
  transform: translateX(100%);
  transition: all 0.2s ease-out;
}

.nav-mobile.active {
  transform: translateX(0);
}

.mui-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@include mobile {
  .navbar {
    position: fixed;
  }
  .select-lang {
    .MuiFormControl-root {
      border: 1px solid #ccc;
      padding-left: 10px;
    }
  }

  .nav-mb-special {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);

    .search-mb {
      background-color: transparent;
    }

    .search-mb-btn {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
  }
}

.menu-mb_item::-webkit-scrollbar {
  height: 2px;
}

.bgImg-MenuOurTour {
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.625vw;
  height: 10vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 41.89%, rgba(0, 0, 0, 0.81) 100%);
}
