.not-found {
  .nf-404 {
    background: linear-gradient(90deg, #29b662 0%, #24bd63 0.01%, #1a9b4f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
