.review-item-wrapper {
  cursor: pointer;
  .review-item-content {
    a {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
      background-size: 100% 2px, 0 2px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 500ms;
    }
  }
  .review-item-img {
    transition: all ease 0.4s;
  }
  &:hover {
    .review-item-content {
      a {
        background-size: 0 2px, 100% 2px;
      }
    }

    .review-item-img {
      scale: 1.2;
    }
  }
}
