.tour-item {
  overflow: hidden;

  .img-tour {
    transition: all 0.3s ease;
  }
  .title-tour {
    display: table-row;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    transition: background-size 350ms;
    background: linear-gradient(0deg, $colorPrimary, $colorPrimary) no-repeat right bottom/0 1px;
  }
  
  &:hover {
    .img-tour {
      scale: 1.1;
    }
    .title-tour {
      color: $colorPrimary;
      background-size: 100% 1.5px;
      background-position-x: left;
    }
    
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 54.17%,
      rgba(0, 0, 0, 0.3) 60.64%,
      rgba(0, 0, 0, 0.49) 68.17%,
      rgba(0, 0, 0, 0.6) 79.86%
    );
  }
}

.title__ourBlog {
  cursor: pointer;
  position: relative;
  transition: background-size 350ms;
  background: linear-gradient(0deg, green, green) no-repeat right bottom/0 1px;
}
.blog-item{
  transition: all 0.5s ease;
  &:hover{
    .title__ourBlog {
      color: green;
      background-size: 100% 1px;
      background-position-x: left;
    }
  }
}
