// color text
$textColorPrimary: #171717;
$colorPrimary: #ffd220;

// background color
$bgPrimary: linear-gradient(180deg, #fff8dc 13.18%, #ffd220 54.87%);

// responsive width
$mobileWidth: 767px;
$tabletWidth: 1024px;

// font family
$font-helvetica: 'Helvetica Neue';
$font-optima: 'Optima';
$font-manrope: 'Manrope';
$font-viva: 'Viva Travel';
